* {
    padding: 10px;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

#top-line {
    font-size: xx-large;
}

.card {
    width: 100%;
}

.card-info {
    color: black;
}

#card-title {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: x-large;
    font-style: italic;
    text-transform: lowercase;
    
    padding: 20px;
}

.release {
    margin-top: 2px;
    padding: 0px;
    font-size: small;
    
}