* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}

body {
    background-color: whitesmoke;
    color: white;
    text-align: center;
}

#top-line {
    font-size: xx-large;
    font-weight: bolder;
    background-color: #a2adb8;
}



.card {
    width: 100%;
    text-transform: lowercase;
    border-radius: 10px;
    margin-bottom: 20px;
   
}


.APIinfo {
    background-color: #3498DB;
    text-align: left;
    font-size: small;
    line-height: .25px;
    padding-left: 20px;
    overflow-wrap: break-word;
    border-radius: 10px;
    
}


.my-info {
    color: black;
    text-align: center;
    border: 1px solid #3498DB;
    border-radius: 10px;
    padding: 20px;
}


#card-title {
    color: white;
    font-weight: bold;
    font-size: large;
    text-decoration: underline; 
    text-align: left;
    line-height: 20px;
    padding: 20px 20px 0px 20px;
    
}

#cast {
    overflow-inline: hidden;
}
#plot {
    text-align: center;
    font-size: medium;
    line-height: 20px;
    padding: 20px;
}


