* {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}

body {
    background-color: #7a9e9f;
    color: white;
    text-align: center;
    padding: 50px;
    
}

#top-line {
    font-size: xx-large;
    font-weight: bolder;
}

.card {
    width: 100%;
    text-transform: lowercase;
    margin-bottom: 20px;
}



.card-info {
    color: black;
}



#card-title {
    background-color: #4F6367;
    color: white;
    font-weight: bold;
    font-size: large;
    font-style: italic;
    margin-bottom: 2px;
}

#year {
    margin-top: 2px;
    font-size: small;
    
}